{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'vebsites/css/content.css' %}" type="text/css" />
<div class="content">
  <div class="col" onclick="window.location='{% url 'onlineshopping:home' %}';">
    <img class="content-img" src="{% static 'vebsites/img/onlineshopping.jpg' %}">
    <span class="onlineshopping">ONLINE SHOPPING</span>
  </div>
  <div class="col" onclick="window.location='{% url 'entertainment:home' %}';">
    <img class="content-img" src="{% static 'vebsites/img/entertainment.jpg' %}">
    <span class="entertainment">ENTERTAINMENT</span>
  </div>
  <div class="col" onclick="window.location='';">
    <img class="content-img" src="{% static 'vebsites/img/news.png' %}">
    <span class="news">NEWS</span>
  </div>
  <div class="col" onclick="window.location='{% url 'sports:home' %}';">
    <img class="content-img" src="{% static 'vebsites/img/sports.jpg' %}">
    <span class="sports">SPORTS</span>
  </div>
  <div class="col" onclick="window.location='';">
    <img class="content-img" src="{% static 'vebsites/img/education.jpg' %}">
    <span class="education">Education</span>
  </div>
  <div class="col" onclick="window.location='';">
    <img class="content-img" src="{% static 'vebsites/img/business.jpg' %}">
    <span class="business">Business</span>
  </div>
  <div class="col" onclick="window.location='';">
    <img class="content-img" src="{% static 'vebsites/img/booking.jpg' %}">
    <span class="booking">Booking</span>
  </div>
</div>
{% endblock %}
