<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
<center>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-sm-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-sm-6 mt-sm-0 mt-3">

        <!-- Content -->
        <center>
        <h5 class="text-uppercase">Vebsites</h5>
        <p>This is a place to view some of the cool and underrated websites for your day-to-day activities</p>
        </center>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-sm-none pb-3">

      <!-- Grid column -->
      <div class="col-sm-3 mb-sm-0 mb-3">

        <!-- Links -->
        <center>
        <h5 class="text-uppercase">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Electronics</a>
          </li>
          <li>
            <a href="#!">Music</a>
          </li>
          <li>
            <a href="#!">Cricket</a>
          </li>
          <li>
            <a href="#!">Politics</a>
          </li>
        </ul>
        </center>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-sm-3 mb-sm-0 mb-3">

        <!-- Links -->
        <center>
        <h5 class="text-uppercase">Website of the Day</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Vebsites</a>
          </li>
        </ul>
        </center>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> Vebsites</a>
  </div>
  <!-- Copyright -->
</center>
</footer>
