{% extends "personal/header_accounts.html" %}
{% block content %}
<div class="container">
<form method = "post">
    {% csrf_token %}
    {{ form.first_name.label }} :
    {{ form.first_name }}<br><br>
    {{ form.last_name.label }} :
    {{ form.last_name }}<br><br>
    {{ form.email.label }} :
    {{ form.email }}<br><br>
    {{ form1.gender.label }} :
    {{ form1.gender }}
    {{ form1.birth_date.label }} :
    {{ form1.birth_date }}<br><br>
    {{ form1.location.label }} :
    {{ form1.location }}
  <center> <button type="submit">Update</button> </center>
</form>
</div>
{% endblock %}
