{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}
{% include 'personal/includes/user_authentication.html' %}
<link rel="stylesheet" href="{% static 'personal/css/style1.css' %}" type = "text/css"/>
<br><br>
<div class="box" id="LoginForm">
<form class="" method="post">
  {% csrf_token %}
  <h1>Login</h1>
  <input type="text" name="username" placeholder="Username" value="{{ username }}">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="" value="Login">
  <a href="/accounts/forgot_password">forgot password</a>
</form>
<div>
{% endblock %}
