{% extends "personal/header.html" %}
{% block content %}
{% if validlink %}
<div class="container"><br>
  <h1>Reset Password:</h1>
  <form method="post">
    {% csrf_token %}
    <h6>Type your new Password here:</h6>
    {{ form.as_p }}
  <button type="submit" name="reset_password">Reset Password</button>
  </form>
  </div>
{% else %}
    <div class="container"><br>
      <h1>Password Reset Unsuccessfull:</h1>
      <h6>This link has already been used, please click <a href="/accounts/forgot_password">forgot password</a>
        again to generate new password reset link. Thankyou!!</h6>
{% endif %}
{% endblock %}
