{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}
{% include 'personal/includes/user_authentication.html' %}
<link rel="stylesheet" href="{% static 'personal/css/style1.css' %}" type = "text/css"/>
<style>
.progress{
  display: none;
}

</style>
<div class="box" id ="RegForm">
  <form class="" method="post"><br><br>
    <center><h1>Account Registration</h1></center>
    {% csrf_token %}
    {{form.username}}{{form.errors.username}}
    {{form.first_name}}{{form.errors.first_name}}
    {{form.last_name}}{{form.errors.last_name}}
    {{form.email}}{{form.errors.email}}
    {{form.password1}}
    {{form.errors.password2}}
    {{form.password2}}
    <center><button type="submit">Register</button></center>
  </form>
  </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/zxcvbn_password/js/zxcvbn.js"></script>
<script type="text/javascript" src="{% static 'accounts/js/password_strength.js' %}"></script>
{% endblock %}
