{% extends "personal/header.html" %}
{% block content %}
  <h6>
  <center>
  <i class="fa fa-envelope fa-2x"> : <a href="mailto:csknaren@gmail.com"> csknaren@gmail.com</a></i><br><br>
  <i class="fa fa-address-book-o fa-2x"> : +91 8110046885</i><br><br>
  <i class="fa fa-instagram fa-2x"> : <a href="https://www.instagram.com/naren_narcotic"> naren_narcotic</i><br><br></a>
  <i class="fa fa-twitter fa-2x"> : <a href="https://www.twitter.com/narendevilliers"> @narendevilliers</i><br><br></a>
</center>
</h6>
{% endblock %}
