{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'personal/css/contact.css' %}" type="text/css" />
  <div class="contact">
  		<div class="contact-method">
  			<i class="fa fa-envelope"></i>
  			<span>vebsites98@gmail.com</span>		
  		</div>
  		<div class="contact-method">
  			<i class="fa fa-mobile"></i>
  			<span>+91 8110046885</span>	
  		</div>
  		<div class="contact-method">
  			<i class="fa fa-map-marker"></i>
  			<span>Chennai,Tamilnadu, India</span>	
  		</div>
  </div>
{% endblock %}
