<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'personal/css/topnav.css' %}" type = "text/css"/>
<link rel="stylesheet" href="{% static 'vebsites/css/content.css' %}" type = "text/css"/>
<link rel="stylesheet" href="{% static 'personal/css/style1.css' %}" type = "text/css"/>
<style>

</style>
</head>
<body>

<div class="topnav" id="myTopnav">
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i></a>
	<a class="vebsites" href="/"> Vebsites</a>
  <a class="{{contact}}" href="/contact"><i class="fa fa-fw fa-envelope fa-1x"></i> Contact us</a>
	<div class="topnav-right">
	<a class="{{login}}" href="/accounts/login">Login <i class="fa fa-sign-in fa-1x"></i></a>
	<a class="{{register}}" href="/accounts/register">Register <i class="fa fa-user-plus"></i></a>
	<div class="search-box">
			<input type="text" name="" class="search-txt" placeholder="search"/>
			<a class="search-btn" href="#">
			<i class="fa fa-search"></i>
			</a>
		</div>
</div>
</div>
{% if messages %}
   {% for message in messages %}
	   <script>
		 alert("{{message}}");
	 </script>
   {% endfor %}
{% endif %}
{% block content %}
{% endblock %}

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>
