.content{
  position: relative;
  left: 1%;
  width: 95%;
  height: 45%;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-column-gap: .5em;
  grid-auto-rows: minmax(42vh,auto);
  justify-items:center;
  align-items: center;
}
.col{
  border-radius: 20px;
  width: 80%;
  height: 80%;
  padding: 5%;
}
.content-img{
  border: none;
  outline: none;
  border-radius: 20px;
  width: 100%;
  max-width: 400%;
  height: 100%;
  filter: blur(2px);
}
.col span{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 2.4vw;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}
.news{
  color: black;
}
@media not all and (pointer: coarse) and (min-width: 1000px){
  .content > div:hover{
    width: 90%;
    height: 90%;
  }
  .content > div:hover > .content-img{
    filter: blur(0px);
  }
}
@media screen and (max-width: 600px){
  .content{
    position: relative;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-row-gap: 0;
    padding: 0;
  }
  .content > div{
    width: 100%;
    padding: 0;
  }
  .centered{
    font-size: 10vw;
  }
  .content-img{
    border-radius: 0px;
  }
}
@media screen and (orientation:landscape) and (min-width:600px) and (hover:none){


}
