body{
    background-color: #c5eff7;
  }
.fixed-navbar{
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	z-index: 9999;
	}
.fixed-navbar-right{
	float: right;
}
.fixed-navbar .icon{
	display: none;
}
.fixed-navbar a.vebsites:hover{
	color: rgba(197, 239, 247, 1);
}
.fixed-navbar a{
	padding: 1vmax;
	float: left;
	margin-left: 10px;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.fixed-navbar a.active {
  background-color: #4CAF50;
  color: white;
}
@media not all and (pointer:coarse){
	.fixed-navbar a:not(.vebsites):not(.search-btn):hover{
		background-color: #ddd;
    	color: black;
	}
}
@media screen and (max-width: 600px){
	.fixed-navbar a{display: none;}
  	.fixed-navbar a.vebsites {display: block; float: left;}
  	.fixed-navbar a.icon {
	    float: left;
	    display: block;
  }
}
@media screen and (max-width: 600px){
	body{
		margin-top: 2%;
	}
	.fixed-navbar.responsive .icon {
	    float: left;
	    top: 5%;
	  }
  	.fixed-navbar-right
	  {
	    float: left;
	  }
  	.fixed-navbar.responsive a {
	    float: none;
	    display: block;
	  }
}